/* #region GENERAL */
#fork {
      position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
/*first div which cover all the screen*/
.overlay {
  /*background: linear-gradient(120grad, rgb(198, 16, 101),rgba(150, 16, 120, 1) );*/
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/grey-light-smooth-moving-waves-background-video-animation-hd-1920x1080_vjkea4zve__F0000.png");
  /*background-size: cover;*/
/*background-repeat: no-repeat;*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;

    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container{
  padding: 0 !important;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}


/*Custom CSS for voting page*/


#image img {
    max-width: 20%;
      margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}






#text h1{
    font-family: 'Montserrat', sans-serif;
  padding-top: 0.5em;
    /*font-style: italic;*/
    /*letter-spacing: 1.25px;*/
    /*line-height: 1.5;*/
    /*background: #EEEEEE;*/
    /*padding: 5px;*/
    /*margin: auto 15px;*/
/*postech color*/
/*    color: #356FF6; 
*/    color: rgba(0,0,0,.5);
        font-size: 3vw;
        text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    top: 45%;
    width: 100%; 
}
#text h2 { 
  text-align: center;


        color: #76879b;
        margin: 4px;
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        font-size: 22px;
          text-align: center;
  font-family: "Oswald", sans;
  font-weight: normal;
  line-height: 2.5rem;
}


  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }

    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0;
    }

      ul.icons li:last-child {
        padding-right: 0;
      }

      ul.icons li .icon:before {
        font-size: 1.25em;
      }

      ul.icons li a {
        color: #000000;
/*cehck out*/
      }

  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .icon > .label {
      display: none;
    }



  #footer {
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    /*bottom: 4em;*/
    color: #000000;
    /*left: 4em;*/
    opacity: 0.5;
    padding-top: 6em;
    /*position: fixed;*/
    /*object-position: center;*/
    /*margin: auto !important;*/
  }

    #footer .icons {
      margin: 0 0 0.5em 0;
    }

    #footer .copyright {
      font-size: 0.8em;
      list-style: none;
      padding: 0;
    }

      #footer .copyright li {
        border-left: solid 1px rgba(255, 255, 255, 0.25);
        display: inline-block;
        line-height: 1em;
        margin: 0 0 0 0.75em;
        padding: 0 0 0 0.75em;
      }

        #footer .copyright li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }

      #footer .copyright a {
        color: inherit;
      }

    #footer:hover {
      opacity: 1;
    }

    #footer > :last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1680px) {

      #footer {
        bottom: 3.5em;
        /*left: 3.5em;*/
      }

    }

    @media screen and (max-width: 736px) {

      #footer {
        bottom: 2em;
        /*left: 2em;*/
      }

    }

    @media screen and (max-width: 360px) {

      #footer {
        bottom: 1.25em;
        /*left: 1.25em;*/
      }

    }

    @media screen and (max-height: 640px) {

      #footer {
        bottom: auto;
        left: auto;
        margin: 1em 0 0 0;
        position: relative;
      }

    }
/* #endregion */

/* #region REGISTRATION */

#registration-form {
  width: 400px;
  margin: auto;
}
#registration-form > div {
  position: relative;
  z-index: 2;
  background: white;
  padding: 20px 40px;
  border-radius: 5px 5px 0 0;
}
#registration-form > div h1 {
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #004B9E;
  font-size: 23px;
  text-transform: uppercase;
  margin: 0;
}
#registration-form > div p {
  word-spacing: 0px;
  color: #004B9E;
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
}

#registration-form form {
  position: relative;
  height: 75px;
}
#registration-form .input-section {
  width: 100%;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
}

#registration-form .input-section.folded {
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
#registration-form .input-section.folded input[type="text"] {
  background-color: limegreen;
}

#registration-form .input-section.folded input::placeholder {
  color: white;
  font-weight: 900;
}

#registration-form .input-section.folded span {
  background-color: red;
}

#registration-form .input-section.fold-up {
  margin-top: -75px;
}
#registration-form form input {
  width: 80%;
  border: 0;
  padding: 20px 40px;
  margin: 0;
}

#registration-form form input[type="email"]{
  background-color: #dadaf1;
  color: #000000;
  font-weight: 100;
}

#registration-form form input:focus {
  outline: none;
}
#registration-form form input::placeholder {
  color: #004B9E;
  font-weight: 100;
}
.animated-button {
  width: 20%;
  background-color: #999999;
}

.animated-button span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 75px;
  text-align: center;
  height: 75px;
  transition: all 0.2s linear;
}
.animated-button span i {
  font-size: 35px;
  color: #000000;
}
.animated-button .next-button {
  background: transparent;
  color: #000000;
  font-weight: 100;
  width: 100%;
  border: 0;
}

.animated-button .next-button:hover{
  cursor: pointer;
}

.next {
  margin-top: -75px;
}
.success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  background: limegreen;
  margin-top: -75px;
}
.success p {
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.icon-cross{
  cursor: pointer;
}

.icon-cross i{
  color: white !important;
}

/* #endregion */

/* #region CANDIDATE LIST */

.img-block{
  margin: auto;
  width: 250px;
  height: 250px;  
  border-radius: 100%;
  border:2px solid whitesmoke;
  padding-top: 13px;
}

.img-block img, .img-block i {
  overflow: hidden;
  width: 220px;
  height: 220px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 1px 1px;
  background-position: center center;
  background-size: cover;
}

.img-block img {
  background-color: #fff;
}

.img-block i {
  background-color: #dadaf1;
  font-size: 110px;
  padding: 0.35em;
  color: aliceblue;
}

.img-block .hover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: all 0.2s;
}

.img-block .hover.voted,.img-block .hover.true,.hover.loading{
  opacity: 1;
}

/* #endregion */

/* #region ADMIN SELECTION */

#Selection button {
  /*change the colors of the buttons*/
  background: #3BB9FF;
  border: 3px solid #3BB9FF; 
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1.5em auto;
  padding: 1.5em;
  position: relative;
  text-transform: uppercase;
  width: 60%;
  cursor: pointer;
}

/* #endregion */

/* #region BALLOT CREATION */

fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.container-form{
  width : 70% !important;
}

.wrapper{
  width: 100%;
  margin: 30px 0;
}

/* STEPS */

.steps{
  list-style-type: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}


.steps li{
  display: inline-block;
  margin: 20px;
  color: #ccc;
  padding-bottom: 5px;
}

.steps li.is-active{
  border-bottom: 1px solid rgb(198, 16, 101);
  color: rgb(198, 16, 101);
}

/* FORM */

.form-wrapper .section{
  padding: 0px 20px 30px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 400px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-wrapper .section h3{
  margin-bottom: 30px;
}

.form-wrapper .section.is-active{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.form-wrapper > .section > .button, .form-wrapper .submit{
  background-color: rgb(198, 16, 101);;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px !important;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.form-wrapper input[type="text"], .form-wrapper input[type="date"], .form-control{
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: #f1f1f1 !important;
  border: none;
  width: 50% !important;
  outline: none;
  font-size: 14px !important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
/* #endregion */

/* #region ADD CANDIDATE */

.reset {
  cursor: pointer;
  position: absolute;
  background-color: rgb(198, 16, 101);
  left: 20px;
  bottom: 20px;
  border: 2px solid #fff;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  padding: 8px 30px;
}

#candidateList{
  margin: auto;
  margin-bottom: 15px;
}
#candidateList td:last-child{
  color: rgb(198, 16, 101);
}

#candidateList td{
  padding-right: 10px;
}

#candidateList td button{
  padding-right: 10px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border-style: none;
}

.add-candidate{
    height: 40px;
    width: 40px;
    background: rgb(198, 16, 101);;
    border-radius: 50%;
    color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 23px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
}

.add-candidate:hover {
  background: #F06292;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.pop-up {
  position: fixed;
  display: block;
  margin: 5% auto;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  max-width: 62.5rem;
}

.pop-up:before, .pop-up:after {
  content: " ";
  display: table;
}

.pop-up span {
  color: dimgray;
}

.pop-up .box {
  background-color: whitesmoke;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: relative;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  width: 50%;
}

.pop-up .close-button {
  cursor: pointer;
  transition: all 0.5s ease;
  position: absolute;
  background-color: rgb(198, 16, 101);
  padding: 1.5px 7px;
  left: 0;
  margin-left: -13px;
  margin-top: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff !important;
  -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
  box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
  text-align: center;
  text-decoration: none;
  line-height: inherit;
}

.pop-up .close-button:hover {
  background-color: rgba(150, 16, 120, 1);
  color: #fff !important;
}

.pop-up h3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: rgb(198, 16, 101);;
  font-size: 25px;
}

.pop-up p {
  padding: 20px 65px 10px 65px;
  color: dimgray;
}

.pop-up input[type="text"], .pop-up textarea, .pop-up input[type="file"] {
  display: block;
  padding: 10px;
  margin: 30px auto;
  background-color: #f1f1f1 !important;
  border: none;
  width: 75% !important;
  outline: none;
  font-size: 14px !important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.pop-up button, .pop-up .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  border-color: #007095;
  color: white;
  transition: background-color 300ms ease-out;
  background-color: rgb(198, 16, 101);;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.blur-in {
  -webkit-animation: blur 0.5s forwards;
  -moz-animation: blur 0.5s forwards;
  -o-animation: blur 0.5s forwards;
  animation: blur 0.5s forwards;
}

.blur-out {
  -webkit-animation: blur-out 0.5s forwards;
  -moz-animation: blur-out 0.5s forwards;
  -o-animation: blur-out 0.5s forwards;
  animation: blur-out 0.5s forwards;
}


@-webkit-keyframes blur {
  0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }

  100% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }
}

@-moz-keyframes blur {
  0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }

  100% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }
}

@-o-keyframes blur {
  0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }

  100% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }
}

@keyframes blur {
  0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }

  100% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }
}

@-webkit-keyframes blur-out {
  0% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }

  100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }
}

@-moz-keyframes blur-out {
  0% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }

  100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }
}

@-o-keyframes blur-out {
  0% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }

  100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }
}

@keyframes blur-out {
  0% {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
  }

  100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
  }
}

/* #endregion */

/* #region COUNTDOWN */
.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
}

/* #endregion */