/* #region GENERAL */
body{
  color: white;
}

.App{
  position: relative;
  z-index: 1;
}

.overlay {
  background: linear-gradient(120grad, rgb(198, 16, 101),rgba(150, 16, 120, 1) );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* #endregion */

/* #region TITLE */

.text-pink{
  color: #c61065;
}

/* #endregion */

/* #region REGISTER BUTTON */

#registration-form {
  width: 400px;
  background: transparent;
  margin: auto;
}
#registration-form > div {
  position: relative;
  z-index: 4;
  background: white;
  padding: 20px 40px;
  border-radius: 15px 15px 0 0;
}
#registration-form > div h1 {
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #c61065;
  font-size: 23px;
  text-transform: uppercase;
  margin: 0;
}
#registration-form > div p {
  word-spacing: 0px;
  color: #ee2b86;
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
}
#registration-form form {
  position: relative;
  height: 75px;
}
#registration-form .input-section {
  width: 100%;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
}
#registration-form .input-section.folded {
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
#registration-form .input-section.folded input[type="text"] {
  background-color: limegreen;
}

#registration-form .input-section.folded input::placeholder {
  color: white;
  font-weight: 900;
}

#registration-form .input-section.folded span {
  background-color: red;
}
#registration-form .input-section.folded + .folded {
  width: 90%;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}
#registration-form .input-section.folded + .folded input {
  background-color: #e1bcef;
}
#registration-form .input-section.folded + .folded span {
  background-color: #e1bcef;
}
#registration-form .input-section.fold-up {
  margin-top: -75px;
}
#registration-form form input {
  width: 80%;
  border: 0;
  padding: 20px 40px;
  margin: 0;
}

#registration-form form input[type="email"]{
  background-color: #dadaf1;
  color: #ee2b86;
  font-weight: 100;
}

#registration-form form input:focus {
  outline: none;
}
#registration-form form input::placeholder {
  color: #ee2b86;
  font-weight: 100;
}
.animated-button {
  width: 20%;
  background-color: #ec1378;
}
.animated-button span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 75px;
  text-align: center;
  height: 75px;
  transition: all 0.2s linear;
}
.animated-button span i {
  font-size: 35px;
  color: #dadaf1;
}
.animated-button .next-button {
  background: transparent;
  color: #9999f8;
  font-weight: 100;
  width: 100%;
  border: 0;
}
.next {
  margin-top: -75px;
}
.success {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  background: limegreen;
  margin-top: -75px;
}
.success p {
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.icon-cross{
  cursor: pointer;
}

.icon-cross i{
  color: white !important;
}

/* #endregion */

/* #region CANDIDATE LIST */

.img-block{
  margin: auto;
  width: 250px;
  height: 250px;  
  border-radius: 100%;
  border:2px solid whitesmoke;
  padding-top: 13px;
}

.img-block img{
  background-color: #fff;
  overflow: hidden;
  width: 220px;
  height: 220px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 1px 1px;
  background-position: center center;
  background-size: cover;
}
.img-block .hover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: all 0.2s;
}

.img-block .hover.voted,.img-block .hover.true,.hover.loading{
  opacity: 1;
}

/* #endregion */








